// 1. Load the Material Library
@use '@angular/material' as mat;

// 2. Use a relative path that matches your spelling exactly
// Note: You do not need the underscore or .scss extension here
@use './app/shared/styles/pallete' as theme;

// 3. Tailwind must come after @use
@import 'tailwindcss';

html,
body {
  height: 100%;
  margin: 0;
  // These variables will work once the file is linked correctly
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html {
  color-scheme: light dark;
}
